.App {
  text-align: center;
}
/* #00b894 */
.btn-outline-primary {
  color: #ff2323 !important;
  border-color: #ff2323 !important;
}
.btn-outline-primary:focus {
  color: #ff2323 !important;
  border-color: #ff2323 !important;
}
.btn-primary{
  color: white !important;
  border-color: #ff2323 !important;
  background-color: #ff2323 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #ff2323 !important;
  border-color: #ff2323 !important; /*set the color you want here*/
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
  color: #fff !important;
  background-color: #ff2323 !important;
  border-color: #ff2323 !important; /*set the color you want here*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}

a:hover{
  text-decoration: none !important;
  color: inherit !important;
}

.modal-w-90 {
  max-width: 90vw;
}
